<!doctype html>
<html>
  <head>
    <title>Masuk Admin - Verifikasi Ijazah</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}?v=final" />
    <link rel="icon" href="{% static 'images/logo-unsrat2.png' %}" />
  </head>

  <body>
    <main class="login-page">
      <section class="login-card">
        <div class="login-brand">
          <img
            src="{% static 'images/logo-unsrat2.png' %}"
            class="login-logo"
          />
          <p class="login-kicker">REGMABA UNSRAT</p>
          <h2>Masuk Admin</h2>
          <p class="login-subtitle">Verifikasi Ijazah</p>
        </div>

        {% if error %}
        <p class="login-error">{{ error }}</p>
        {% endif %}

        <form method="POST" class="login-form">
          {% csrf_token %}

          <label class="input-label">Nama Pengguna</label>
          <input type="text" name="username" required class="input-field" />

          <label class="input-label">Kata Sandi</label>
          <div class="password-wrapper">
            <input
              id="password"
              type="password"
              name="password"
              required
              class="input-field"
            />

            <button
              type="button"
              class="toggle-password"
              onclick="togglePassword()"
            >
              <svg
                id="eyeOpen"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
              >
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                <circle cx="12" cy="12" r="3" />
              </svg>

              <svg
                id="eyeClosed"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                style="display: none"
              >
                <path
                  d="M17.94 17.94A10.94 10.94 0 0 1 12 20c-7 0-11-8-11-8a21.77 21.77 0 0 1 5.06-6.94"
                />
                <path d="M1 1l22 22" />
              </svg>
            </button>
          </div>

          <div class="login-options">
            <label class="remember-me">
              <input type="checkbox" />
              Ingat saya
            </label>
          </div>

          <button type="submit" class="login-btn">Masuk</button>
        </form>
      </section>
    </main>

    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
